#calculator {
    border: 2px solid black;
    border-radius: 5px;
    width: 400px;
}


.button{
    width: 90px;
    height: 85px;
    margin: 8px;
}

#display{
    width: 85%;
    margin:12px;
}
.buttoncontainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}